@media (min-width: 660px) {
  .header {
    background-image: url(../images/header-bg-tabl@3x.jpg);

    .navbar {
      padding: 1.5rem 0 2.5rem;
    }

    &__wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      position: relative;
      overflow: hidden;
      margin-top: 4.625rem;
    }

    &__title {
      display: block;
      margin: 0 auto;
      max-width: 11.875rem;
      text-align: center;
      line-height: 1.1;
      margin-bottom: 2.2rem;
    }

  }

  .download {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 5vw;
    padding-top: 0;

    &__btn {
      width: 18.75rem;
      margin-bottom: 3.2rem;
    }

    .platforms {
      &__desc {
        font-size: 1.125rem;
        max-width: 17.5rem;
      }

      &__images {
        margin-bottom: 1.87rem;
      }
    }
  }

  .benefits {
    overflow: hidden;
    position: relative;
    z-index: 1;

    &__wrapper {
      padding-top: 6rem;
    }

    &__head {
      font-size: 2.5rem;
      max-width: 100%;
      line-height: 1.1;
      margin-bottom: 3rem;
    }

    &__head2 {
      max-width: 350px;
      margin: 0 auto;
    }

    &__desc {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      position: relative;
      text-align: left;
    }

    &__blocks {
      margin: 0 0;
      margin-right: 1.5rem;
    }

    &__image {
      transform: translateY(-4.37rem);
      margin-right: 2.525rem;
    }
  }

  .effect {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: -8.5rem;
    background-color: #fff;

    .container {
      display: flex;
    }

    &__img {
      margin-top: 3.625rem;
      margin-right: 4.4rem;
    }

    &__desc {
      margin-top: 5.94rem;
      margin-right: 1rem;
      max-width: 17rem;
    }

    &__title {
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;
    }

    &__text {
      color: #283645;
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    &__link {
      color: #d22856;
      text-decoration: underline;
    }
  }

  .reviews {
    margin-top: 6.25rem;

    &__card {
      display: flex;
      flex-direction: column-reverse;
    }

    &__title {
      margin-bottom: 0;
      font-size: 1.25rem;
      line-height: 1.875rem;
    }

    &__subtitle {
      display: inline;
      color: #283645;
      font-size: 0.875rem;
      line-height: 1.875rem;
    }

    &__text {
      font-size: 1.125rem;
      margin-bottom: 2rem;
    }
  }

  .price {
    .carousel {
      display: none;
    }

    padding-bottom: 4.375rem;
  }

  .price--tablet {
    display: block;

    &__cards {
      display: flex;
      margin: 0 auto;
    }

    .list-group-item {
      min-height: 46px;
    }

    .list-group-item-1::after,
    .list-group-item-2::after,
    .list-group-item-3::after {
      content: "";
      display: block;
      position: absolute;
      right: calc(50% - 10px);
      top: calc(50% - 10px);
    }

    .list-group-item {
      padding: .75rem 1.25rem;
    }

    .card__name .card-header {
      background-color: transparent;
    }

    .card {
      width: 25%;

      &-header {
        height: 4.6875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__title {
        font-size: 1rem;
      }

      &__price {
        font-size: 1.125rem;
      }
    }
  }

  .contacts {
    &__wrapper {
      max-width: 100%;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 1.1;

      p {
        max-width: 23.125rem;
        margin: 0 auto;
      }
    }

    &__map {
      padding-bottom: 56%;
    }
  }

  .footer {
    display: block;

    .container {
      display: flex;
      justify-content: space-between;
    }

    &__social {
      margin-top: 1rem;

      i {
        margin-right: 2.5rem;
        color: #d22856;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 2.8125rem;
          height: 2.8125rem;
          border: 3px solid #283645;
          border-radius: 50px;
          opacity: 0.1;
          top: -14px;
          right: -14px;
        }
      }

      .fa-facebook-f::after {
        right: -17px;
      }
    }

    &__develope {
      color: #283645;
      font-size: 0.875rem;
      margin-top: 1rem;
    }
  }

}

@media (min-width: 768px) {
  .effect__desc {
    max-width: 23rem;
  }

  .benefits__blocks {
    max-width: 23rem;
  }

  .benefits__block {
    margin-bottom: 2rem;
  }

  .contacts {
    &__mail {
      margin-bottom: 2.5rem;
    }
  }
}

@media (min-width: 810px) {
  .header__img {
    margin-left: 8rem;
  }

  .contacts__map {
    padding-bottom: 50%;
  }
}

@media (min-width: 850px) {
  .benefits__wrapper {
    .container {
      padding-left: 3rem;
    }
  }

  .effect {
    .container {
      padding-left: 3rem;
    }
  }
}

@media (min-width: 900px) {
  .header__img {
    margin-left: 14rem;
  }

  .benefits__wrapper {
    .container {
      padding: 0 5rem;
    }
  }

  .effect {
    .container {
      padding: 0 5rem;
    }
  }

  .contacts__map {
    padding-bottom: 47%;
  }
}

@media (min-width: 960px) {
  .benefits__image {
    margin-right: 4.525rem;
  }

  .effect__img {
    margin-right: 6.4rem;
  }
}

@media (min-width: 1060px) {
  .download {
    padding-left: 3rem;
  }

  .header__img {
    margin-left: 17rem;
  }

  .benefits__wrapper {
    .container {
      padding: 0 7.5rem;
    }
  }

  .effect {
    .container {
      padding: 0 7.5rem;
    }
  }

  .benefits__image {
    margin-right: 6.525rem;
  }

  .effect__img {
    margin-right: 8.4rem;
  }

  .contacts__map {
    padding-bottom: 44%;
  }
}

@media (min-width: 1110px) {
  .download {
    padding-left: 5rem;
  }

  .header__img {
    margin-left: 21rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 7.5rem;
    max-width: 100%;
  }

  .header {
    background-image: url(../images/header-bg-lg.jpg);

    &__wrapper {
      margin-top: 6.25rem;
      justify-content: space-evenly;
    }

    &__img {
      margin: 0;
    }

    .navbar-nav {
      margin-left: auto;
      margin-right: 0 !important;
      font-size: 1.125rem;
      line-height: 1.125rem;
    }

    .nav-item {
      margin-left: 2.5rem;
    }

    .navbar-brand {
      padding: 0;
    }

    &__title {
      font-size: 3.125rem;
      max-width: 14.5rem;
      margin-bottom: 3.2rem;
    }
  }

  .download {
    position: static;
    padding: 0;

    &__btn {
      margin-bottom: 4.3rem;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: block;
  }

  .benefits {
    &__head {
      font-size: 3.125rem;
      padding-top: 4.5rem;
    }

    &__desc {
      flex-direction: column-reverse;
    }

    &__image {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
      padding: 0 3.375rem;
      position: relative;
      z-index: 1;
    }

    picture {
      display: none;
    }

    &__image-1,
    &__image-2,
    &__image-3 {
      display: block;
    }

    &__blocks {
      max-width: 100%;
      margin-right: 0;
      display: flex;
      justify-content: space-between;
      padding: 0 2.125rem;
      position: relative;
      z-index: 2;
      margin-top: -116px;
      background-color: #f2f2f2;
      padding-top: 3.75rem;
      text-align: center;
    }

    &__title {
      font-size: 1.875rem;
      line-height: 1.875rem;
    }

    &__text {
      font-size: 1.125rem;
    }

    &__block-1 {
      max-width: 14.15rem;
    }

    &__block-2 {
      max-width: 13.875rem;
    }

    &__block-3 {
      max-width: 14.4375rem;
    }
  }

  .effect {
    background-color: #f2f2f2;
    margin-top: 0;

    .container {
      justify-content: space-between;
    }

    &__img {
      margin-top: 0;
      padding-bottom: 4.1875rem;
      margin-right: 0;
    }

    &__desc {
      margin-top: 5rem;
      margin-right: calc(51vw - 404px);
    }

    &__title {
      margin-bottom: 1.3rem;
    }

    &__text,
    &__link {
      font-size: 1.125rem;
    }
  }

  .reviews {
    margin-top: 4.5rem;

    &__quotes {
      display: block;
      margin-bottom: 3.25rem;
    }

    .carousel-indicators {
      display: none;
    }

    .carousel-control-prev {
      text-align: left;

      img {
        padding-top: 20%;
      }
    }

    .carousel-control-next {
      text-align: right;

      img {
        padding-top: 20%;
      }
    }

    &__title {
      font-size: 1.875rem;
    }

    &__subtitle {
      font-size: 1.125rem;
    }
  }

  .price {
    .card__title {
      font-size: 1.125rem;
    }

    .card__price {
      font-size: 1.5rem;
    }

    .list-group-item {
      font-size: 1.125rem;
    }
  }

  .contacts {
    &__wrapper {
      line-height: 2.2;
    }

    &__title {
      font-size: 3.125rem;
      margin-bottom: 4rem;
      order: 1;

      p {
        max-width: 28.75rem;
      }
    }

    &__address {
      max-width: 14.75rem;
      order: 3;
      margin: 0 auto;

      p {
        line-height: 1.2;
      }
    }

    &__phone {
      order: 2;
    }

    &__mail {
      order: 4;
    }

    &__map {
      padding-bottom: 41%;
    }
  }

  .footer {
    padding: 4.375rem 0 4.6875rem;

    &__develope {
      font-size: 1.125rem;
    }
  }
}

@media (min-width: 1400px) {
  .contacts__map {
    padding-bottom: 38%;
  }
}

@media (min-width: 1500px) {
  .benefits__blocks {
    padding-left: 5.125rem;
    padding-right: 5.125rem;
  }

  .benefits__image {
    padding-left: 6.375rem;
    padding-right: 6.375rem;
  }
  .effect__img {
    margin-left: 3rem;
  }
}

@media (min-width: 1800px) {
  .benefits__blocks {
    padding-left: 8.125rem;
    padding-right: 8.125rem;
  }

  .benefits__image {
    padding-left: 9.375rem;
    padding-right: 9.375rem;
  }
  .effect__img {
    margin-left: 6rem;
  }
}